<aside class="portal--side">
  <% if current_user %>
    <%= image_pack_tag "images/kin-logo.svg", class: 'portal--logo', alt:'Kin Insurance Logo' %>
  <% else %>
    <a href='<%= marketing_website_link %>'>
      <%= image_pack_tag "images/kin-logo.svg", class: 'portal--logo', alt:'Kin Insurance Logo' %>
    </a>
  <% end %>
  <% if current_user %>
    <nav>
      <ul class="portal--nav">
        <% if @application %>
          <li>
            <%= link_to "Finish Application", '#', class:'portal--nav--link' %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", portal_root_path, class: nav_active_class?(portal_root_path) + ' portal--nav--link' %>
          </li>
          <li>
            <%= link_to "My Claims", main_app.portal_claims_path, class: nav_active_class?(main_app.portal_claims_path) + ' portal--nav--link' %>
          </li>
          <li>
            <% if Feature.active?(:portal_settings_v2_enabled) %>
              <%= link_to "Account Settings", main_app.portal_settings_accounts_path, class: nav_active_class?(main_app.portal_settings_accounts_path) + ' portal--nav--link' %>
            <% else %>
              <%= link_to "Preferences", main_app.portal_preferences_path, class: nav_active_class?(main_app.portal_preferences_path) + ' portal--nav--link' %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Sign Out', main_app.destroy_user_session_path, method: :delete, 'data-rspec': "sign-out-link", class:'portal--nav--link' %>
        </li>
      </ul>
    </nav>
    <%= render 'layouts/shared/impersonation_banner' %>
  <% end %>
</aside>

<div class="mobile-nav" data-controller="claims--mobile-menu" data-action="keydown->claims--mobile-menu#onKeydown">
  <% if current_user %>
    <%= image_pack_tag "images/kin-logo.svg", class: 'portal--logo', alt:'Kin Insurance Logo' %>
  <% else %>
    <a href='<%= marketing_website_link %>'>
      <%= image_pack_tag "images/kin-logo.svg", class: 'portal--logo', alt:'Kin Insurance Logo' %>
    </a>
  <% end %>
  <% if current_user %>
    <nav>
      <button class="fs-drawer--toggle fs-drawer--burger"
      data-action="click->claims--mobile-menu#onToggleClick"
      data-target="claims--mobile-menu.toggle" type="button" >
        <span class="sr-only">open navigation menu</span>
        <span class="fs-drawer--burger-patty"></span>
    </button>

    <div class="fs-drawer" data-target="claims--mobile-menu.drawer">
      <button class="fs-drawer--toggle fs-drawer--cross fs-drawer--toggle__cornered" data-action="click->claims--mobile-menu#onToggleClick" type="button" >
        <span class="sr-only">close</span>
      </button>
      <ul>
        <% if @application %>
          <li>
            <%= link_to "Finish Application", '#', class:'mobile-nav--link' %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", portal_root_path, class: nav_active_class?(portal_root_path) + ' mobile-nav--link' %>
          </li>
          <li>
            <%= link_to "My Claims", main_app.portal_claims_path, class: nav_active_class?(main_app.portal_claims_path) + ' mobile-nav--link' %>
          </li>
          <li>
            <% if Feature.active?(:portal_settings_v2_enabled) %>
              <%= link_to "Account Settings", main_app.portal_settings_accounts_path, class: nav_active_class?(main_app.portal_settings_accounts_path) + ' mobile-nav--link' %>
            <% else %>
              <%= link_to "Preferences", main_app.portal_preferences_path, class: nav_active_class?(main_app.portal_preferences_path) + ' mobile-nav--link' %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Sign Out', main_app.destroy_user_session_path, method: :delete, 'data-rspec': "sign-out-link", class:'mobile-nav--link' %>
        </li>
      </ul>
      <%= render 'layouts/shared/impersonation_banner' %>
    </div>
  </nav>
  <% end %>
</div>
