<div class="row vr--2x">
  <div class="col-xs-12">
    <ul class="breadcrumbs">
      <li>
        <%= link_to "My Policies", portal_routes.portal_root_path %>
      </li>
      <li>
        <%= @policy.address.full_street_address %>
      </li>
    </ul>
  </div>
</div>
<% if documents_all_pending_review?(@document.uploaded_required_documents) %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel__primary panel__rounded">
        <p class="panel--detail text text--bold">
          <%= icon "alert", class: "icon__primary" %>
          Your documents are under review.
        </p>
      </div>
    </div>
  </div>
<% elsif missing_required_documents?(@document) %>
  <div class="row">
    <div class="col-xs-12">
      <div class="container-fluid panel panel__alert panel__rounded">
        <div class="row middle-xs between-xs h-list--wrapped">
          <div class="col-xs-12 col-lg-9">
            <div class="row">
              <%= icon "alert", class: "icon__warning icon__large" %>
              <div>
                <div class="vr">
                  <p class="panel--detail text text--bold text--md text--warning">
                    You must add the following documents before your policy effective date (<%= @policy.effective_date.to_date.to_s(:kin_date) %>):
                  </p>
                </div>
                <% if @document.required_documents_labels.present? %>
                  <ul class="list--bullet">
                    <% @document.required_documents_labels.each do |label| %>
                      <li class="text text--md text--warning nomargin">
                        <%= label.titleize %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <ul class="list--bullet">
                    <% @document.uploaded_required_documents.each do |document| %>
                      <li class="dash--list-v--item panel--detail">
                        <p class="text text--md text--warning">
                          <%= text("views.nok.funnel.upload_document.#{document.label}.name") %>
                        </p>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-3 end-lg">
            <%= link_to "Upload Documents", document_upload_url, class: 'button button--md button--primary', target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
