<div class="summary policy-summary-detail" data-rspec="policy-summary-detail">
  <div class="summary--header">
    <h1 class="summary--heading" data-rspec="policy_address">
      <%= @policy.address.full_street_address %>, <span class="summary--sub-heading"><%= @policy.address.full_city_state %></span>
    </h1>
    <div class="summary--pill">
      <kin-pill size="lg" variant="<%= portal_policy_status_style(@policy) %>" data-rspec="quote_status">
        <%= portal_policy_status_text(@policy) %>
      </kin-pill>
    </div>
  </div>
  <div class="row m-b-200">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <dt class="summary--label summary--label__premium">
        Current Annual Premium
        <% if @policy.coverage.flood_and_water_backup? %>
          <%= render(Shared::FloodCoverageBreakdownComponent.new(amount: @policy.premium, flood_coverage_amount: @policy.flood_premium)) %>
        <% end %>
      </dt>
      <dd class="summary--value summary--value__highlight" data-rspec="premium_quote">
        <%= render(Shared::DisplayPremiumComponent.new(amount: @policy.premium)) %>
      </dd>
    </div>
    <% if renewal_declaration_page.present? && @policy.renewal_snapshot.present? %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <dt class="summary--label summary--label__premium" data-rspec="upcoming_annual_premium_block">
        Upcoming Annual Premium
        <% if @policy.renewal_snapshot.policy.coverage.flood_and_water_backup? %>
          <%= render(Shared::FloodCoverageBreakdownComponent.new(amount: @policy.renewal_snapshot.policy.premium, flood_coverage_amount: @policy.renewal_snapshot.policy.flood_premium)) %>
        <% end %>
      </dt>
      <dd class="summary--value summary--value__highlight" data-rspec="upcoming_amount">
        <%= render(Shared::DisplayPremiumComponent.new(amount: @policy.renewal_snapshot.policy.premium)) %>
      </dd>
    </div>
    <% end %>
  </div>
  <div>
    <div class="<%= renewal_declaration_page.present? ? 'summary--content__smaller' : 'summary--content' %>">
      <dl class="summary--list summary--list__active">
        <div class="summary--item">
          <dt class="summary--label">Policy Type</dt>
            <dd class="summary--value">
              <% if @policy.coverage.flood_and_water_backup? %>
                <%= product_type_display(@policy.product) + "+ Flood Coverage " %> <%= icon "shield", class: "n-icon" %>
              <% else %>
                <%= product_type_display(@policy.product) %>
              <% end %>
            </dd>
        </div>
        <div class="summary--item">
          <dt class="summary--label">Current Policy's Effective Date</dt>
          <dd class="summary--value" data-rspec="effective_date"><%= @policy.term_effective_date.to_s(:kin_date) %></dd>
        </div>
        <div class="summary--item">
          <dt class="summary--label">Primary Applicant</dt>
          <dd class="summary--value"><%= @policy.primary_insured.name %></dd>
        </div>
          <div class="summary--item">
            <% if @policy.co_applicant.present? %>
              <dt class="summary--label">Co-Applicant</dt>
              <dd class="summary--value"><%= @policy.co_applicant.name %></dd>
            <% end %>
          </div>
      </dl>
      <div class="vr"></div>
      <div class="row row--collapse middle-xs summary--smalltoggle" >
        <div class="col-xs-12 col-sm-6 vr">
          <%= link_to 'Request Policy Change', 'https://support.kin.com/contact/submit-request-BynGK5BkF', target: :_blank, class: 'button button--md button--primary' %>
        </div>
      <% if renewal_declaration_page.present? && renewal_declaration_page.complete? %>
        <div class="col-xs-12 col-sm-6 start-sm vr">
          <%= link_to 'View Renewal Documents', url_for(renewal_declaration_page&.expiring_url), target: :_blank, id: 'view-renewal-documents-link' %>
        </div>
      <% end %>
      </div>
    </div>

    <div class="row row--collapse middle-xs summary--toggle" >
        <div class="col-xs-12 col-sm-6 vr">
          <%= link_to 'Request Policy Change', 'https://support.kin.com/contact/submit-request-BynGK5BkF', target: :_blank, class: 'button button--md button--primary' %>
        </div>
      <% if renewal_declaration_page.present? && renewal_declaration_page.complete? %>
        <div class="col-xs-12 col-sm-6 start-sm vr">
          <%= link_to 'View Renewal Documents', url_for(renewal_declaration_page&.expiring_url), target: :_blank, id: 'view-renewal-documents-link' %>
        </div>
      <% end %>
      </div>
  </div>
</div>
