<div class="summary d-block card card--medium border rounded-400">
  <div class="<%= renewal_declaration_page.present? ? 'summary--content__smaller' : 'summary--content' %>">
    <%= render(Portal::Billing::BillingCorrectionsAlertComponent.new(policy: @policy)) %>

    <div class="summary--header">
      <div>
        <div class="row">
          <h1 class="summary--heading m-r-300" data-rspec="policy_address">
            <%= @policy.address.full_street_address %>, <span class="summary--sub-heading"><%= @policy.address.full_city_state %></span>
          </h1>
          <div class="summary--pill">
            <kin-pill size="lg" variant="<%= portal_policy_status_style(@policy) %>" data-rspec="quote_status"> <%= portal_policy_status_text(@policy) %></kin-pill>
          </div>
        </div>
        <p class="nowrap">POLICY NUMBER: <span class="text--tone"><%= @policy.policy_number %></span>
          <% if @policy.coverage.flood_and_water_backup? %>
            <%= icon "shield", class: "n-icon" %> Plus Flood Coverage
          <% end %>
        </p>
      </div>
    </div>
    <dl class="summary--list summary--list__active">
      <div class="summary--item">
        <dt class="summary--label">Policy Type</dt>
        <dd class="summary--value"><%= product_type_display(@policy.product) %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Current Policy's Effective Date</dt>
        <dd class="summary--value" data-rspec="effective_date"><%= @policy.term_effective_date.to_s(:kin_date) %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Primary Applicant</dt>
        <dd class="summary--value"><%= @policy.primary_insured.name %></dd>
      </div>
      <div class="summary--item">
        <% if @policy.co_applicant&.name.present? %>
          <dt class="summary--label">Co-Applicant</dt>
          <dd class="summary--value"><%= @policy.co_applicant&.name %></dd>
        <% end %>
      </div>
      <div class="summary--item summary--item__full">
        <dt class="summary--label">Current Annual Premium</dt>
        <dd class="summary--value summary--value__highlight" data-rspec="premium_quote">
          <%= render(Shared::DisplayPremiumComponent.new(amount: @policy.premium)) %>
        </dd>
        <div class="summary--value" data-rspec="effective_date"><%= @policy.term_effective_date.to_s(:kin_date) %> - <%= @policy.term_end_date.to_s(:kin_date) %> </div>
      </div>
      <% if renewal_declaration_page.present? && @policy.renewal_snapshot.present? %>
        <div class="summary--item summary--item__full">
          <dt class="summary--label" data-rspec='upcoming_annual_premium_block'>Upcoming Annual Premium</dt>
          <dd class="summary--value summary--value__highlight row middle-xs" data-rspec="premium_quote">
          <span class="paddingright" data-rspec="upcoming_amount" >
            <%= render(Shared::DisplayPremiumComponent.new(amount: @policy.renewal_snapshot.policy.premium)) %>
          </span>
            <span class="pill pill--active pill--small" data-rspec="upcoming-pill">Upcoming </span>
          </dd>
          <div class="summary--value" data-rspec="effective_date"><%= @policy.term_end_date.to_s(:kin_date) %> - <%= @policy.next_term_end_date.to_s(:kin_date) %> </div>
        </div>
      <% end %>
    </dl>
  </div>

  <% if declaration_page_document %>
    <div>
      <%= link_to "Download my Declaration Page", download_path(declaration_page_document.id), class: "button button--link button--md text p-0", target: "_blank", id: document_id(declaration_page_document) %>
    </div>
  <% end %>

  <div class="container">
    <div class="row end-xs m-t-300">
      <%= link_to 'Submit a Claim', claims_url(@policy.policy_number), target: '_blank', rel: 'noopener noreferrer', id: 'report-your-claim-button', class: 'button button--secondary button--md m-b-300' %>
      <%= link_to 'View Details and Payments', policy_path(@policy.policy_number), data: {rspec: 'view-details-and-payments-button'}, class: 'button button--primary button--md m-l-300 m-b-300' %>
    </div>
  </div>
</div>

