<div class="row">
  <div class="col-xs-12">
    <section class="card card--medium rounded-400" data-rspec="policy-documents-block">
      <div class="container-fluid">
        <% if empty? %>
          <p class="text text--md" data-rspec="policy-documents-no-documents-message">
            There are currently no documents on this policy.
          </p>
        <% else%>
          <div class="row row--collapse">
            <h2 class="hdg hdg-2--section">Documents</h2>
          </div>
          <ul class="dash--list-v">
            <hr class="line--dash"/>
            <% current_documents.each do |document| %>
              <li class="dash--list-v--item">
                <div class="row row--collapse between-xs">
                  <div class="col-xs-1 doc-type<%= doc_type_class(document.label)  %>" role="img" aria-label="<%= doc_type_aria_label(document.label) %>document icon"></div>
                  <div class="col-xs-8 col-sm-6 vr">
                    <ul class="h-list h-list--middle">
                      <li>
                        <p class="text text--md">
                          <% if document.surplus_lines_acknowledgement_form? %>
                            <%= "#{document.label.titleize} for #{document.person&.name}" %>
                          <% else %>
                            <%= "#{document.display_name}" %>
                          <% end %>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <% if document.complete? %>
                    <div class="col-xs-2 col-sm-3 vr text--right">
                      <%= link_to "View", rails_blob_url(document&.saved_file, only_path: true), target: "_blank", data: { rspec: "document-#{document.display_name.split(' -')[0]&.parameterize}" } %>
                    </div>
                  <% else %>
                    <div class="loading-spinner">
                      <%= image_pack_tag "images/loading.gif", class: "spinner icon__small" %>
                      <p class="text text--small">Loading...</p>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          <% if outdated_documents.any? %>
            <hr class="line--dash"/>
            <div class="row row--collapse">
              <h2 class="hdg hdg-2--section">Prior Coverage</h2>
            </div>
            <ul class="dash--list-v">
            <hr class="line--dash"/>
            <% outdated_documents.each do |document| %>
              <li class="dash--list-v--item">
                <div class="row row--collapse between-xs">
                  <div class="col-xs-1 doc-type<%= doc_type_class(document.label)  %>" role="img" aria-label="<%= doc_type_aria_label(document.label) %> document icon"></div>
                  <div class="col-xs-8">
                    <ul class="h-list h-list--middle">
                      <li>
                        <p class="text text--md">
                          <%= "#{document.display_name}" %>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <% if document.complete? %>
                    <div class="col-xs-2 col-sm-3 vr">
                      <%= link_to "View", rails_blob_url(document&.saved_file, only_path: true), target: "_blank", data: { rspec: "document-#{document.display_name.split(' -')[0]&.parameterize}" } %>
                    </div>
                  <% else %>
                    <div class="loading-spinner">
                      <%= image_pack_tag "images/loading.gif", class: "spinner icon__small" %>
                      <p class="text text--small">Loading...</p>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
