<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <%= render(Portal::Policies::HeaderComponent.new(data: @__data)) %>

      <% @__data.transactions.failed_card_transactions&.each do |transaction| %>
        <%= render(Portal::Billing::FailedTransactionAlertComponent.new(transaction:)) %>
      <% end %>
      <%= render(Portal::Billing::NoCreditCardAlertComponent.new(policy: @__data.policy)) %>
      <%= render(Portal::Policies::PolicySummaryDetailComponent.new(data: @__data)) %>
    </div>
  </div>
</div>

<kin-tabs selectedtabindex="0">
  <kin-tab slot="tablist" data-rspec="documents-tab">Documents</kin-tab>
  <kin-tab slot="tablist" data-rspec="payments-tab">Payments</kin-tab>
  <kin-tab-panel class="m-t-500">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <%= render(Portal::Documents::RequiredDocumentsComponent.new(data: @__data)) %>
          <%= render(Portal::Documents::PolicyDocumentsComponent.new(data: @__data)) %>
        </div>
      </div>
    </div>
  </kin-tab-panel>
  <kin-tab-panel class="m-t-500">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <%= render(Portal::Billing::BillingCorrectionsAlertComponent.new(policy: @__data.policy)) %>
          <%= render(Portal::Billing::PaymentMethod::CardComponent.new(policy: @__data.policy)) %>
          <%= render(Portal::Billing::PaymentMethod::EscrowComponent.new(policy: @__data.policy)) %>
          <%= render(Portal::Billing::PolicySummaryPaymentScheduleComponent.new(policy: @__data.policy, transactions: @__data.transactions)) %>
        </div>
      </div>
    </div>
  </kin-tab-panel>
</kin-tabs>
