<%= validated_form_with(model: @user.person, url: portal_settings_people_path, method: :patch) do |person_form| %>
  <kin-dialog id='editEmailModal' scrollBackdrop size="sm" style="--kin-dialog-header-text-align: left">
    <h2 slot="header" class="m-0" data-rspec='edit-email-header'>Edit Email</h2>

    <div class="d-block">
      <div class="container p-0">
        <div class="row">
          <div class="col-xs-12">
            <%= person_form.fields_for :user, person_form.object.user do |user_form| %>
              <%= user_form.label :email, class: 'input' do %>
                <%= user_form.email_field :email, placeholder: 'Email' , value: @user.email,  required: true, class: 'input__control', 'data-rspec': 'email', data: { aria_errormessage: 'email--error', aria_invalid: "false", validation_message: "Please enter a valid email address." } %>
                <span class="input__label">Email</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="container p-0 m-t-600">
        <div class="row p-0 container start-xs">
          <div class="m-l-100 m-r-200">
            <%= person_form.submit "Save", data: { rspec: "save-email-submit" }, class: 'button button–-block button--md button--primary' %>
          </div>
          <div>
            <kin-button variant="secondary" onclick="this.closest('kin-dialog').hide()">Cancel</kin-button>
          </div>
        </div>
      </div>
    </div>
  </kin-dialog>
<% end %>
