<div class="summary" data-controller="portal--summary">
  <div class="summary--content">
    <% if @show_header %>
      <div class="summary--header">
        <%= content_tag(@heading_tag, @claim.address, class: ["summary--heading"], data: { rspec: 'claim_address' }) %>
      </div>
    <% end %>
    <dl class="summary--list summary--list__active" data-target="portal--summary.detailList">
      <div class="summary--item">
        <dt class="summary--label">Date of Loss</dt>
        <dd class="summary--value" data-rspec="claim_loss_on"><%= @claim.date_of_loss %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Damage Type</dt>
        <dd class="summary--value" data-rspec="claim_damage_type"><%= @claim.loss_type %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Claim Number</dt>
        <dd class="summary--value" data-rspec="claim_number"><%= @claim.claim_number %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Claim Specialist</dt>
        <dd class="summary--value" data-rspec="claim_adjuster"><%= @claim.adjuster_name %></dd>
      </div>
      <div class="summary--item">
        <dt class="summary--label">Contact</dt>
        <dd class="summary--value" data-rspec="claim_adjuster_phone">
          <a class="text text--link" href="tel:<%= @claim.adjuster_phone %>"><%= @claim.adjuster_phone %></a>
          <% if @claim.adjuster_phone_ext.present? %>
            <%= " EXT. " + @claim.adjuster_phone_ext %>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
  <% if @show_cta %>
    <div class="summary--footer">
      <%= link_to 'View Claim Status', portal_claim_path(@claim.claim_number), id: 'view-claim-button', class: 'button button--md button--primary button--block vr', data: { rspec: 'claim_cta' } %>
      <%= link_to 'Upload Documents', edit_portal_claim_path(@claim.claim_number), id: 'edit-claim-button', class: 'button button--md button--primary button--block', data: { rspec: 'claim_cta' } %>
    </div>
  <% else %>
    <div class="summary--footer">
      <button
        class="summary--toggle summary--toggle__active button button--lg button--link"
        aria-expanded="true"
        data-target="portal--summary.toggleDetailButton"
        data-action="portal--summary#onToggle"
        data-rspec="claim_toggle_details"
      >Hide Details</button>
    </div>
  <% end %>
</div>
